<footer class="footer bg-blue-900 text-white relative border-b-2 mt-10">
    <div class="container mx-auto px-6">
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-0 pb-2">
                <p class="text-md text-white font-bold mb-2">
                    © {% now "Y" %} Trust Bank Limited. All rights reserved.
                </p>
                <p class="text-sm text-white">
                    This is a dummy banking system for educational purposes only.
                    <br>
                    It is not intended for real banking transactions.
                    <br>
                    Please do not use any real banking information.
                    <br>
                    If you have any questions, please contact us at
                    <a href="mailto:contact2jabed@gmail.com" class="text-blue-300 hover:text-blue-500">Jabed Hosen</a>.
                </p>
            </div>
        </div>
    </div>
</footer>